*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

main > div{
    height: 800px;
     background-color: ghostwhite;
}

header{
    position: relative;
    flex: 1;
    height: 600px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: url("./images/hero-cover.3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

nav{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 20px;
    padding: 20px 0px;
}

.logo{
    font-weight: bold;
    color: white;
}

nav > ul{
    display: flex;
}

li{
    list-style: none;
    padding: 5px 10px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}

nav > div{
    display: flex;
    align-items: center;
}

.btn-link{
    background-color: #23A6F0;
    border-radius: 3px;
    padding: 10px;
}

.fore-text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px ;
    margin: 40px 10px 0px 10px;
    color: white;
}

.fore-text > .motto{
    display: flex;
    padding: 10px;
    flex-direction: column;
    font-size: 2.9em;
    font-weight: bold;
    margin-bottom: 15px;
}

.fore-text > .quote{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;
}

.fore-text > .header-btns{
    display: flex;
    padding: 5px;
}

.header-btns > button{
    color: white;
    border: none;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
}

.header-btns button:first-child{
    background-color: #23A6F0;
}

.header-btns button:nth-child(2) {
    background-color: transparent;
    border: 1px solid white;
}

.header-boxes{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

.header-boxes > div{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 2px;
    margin: 10px;
    width: 300px;
    box-shadow: 0px 5px 1px 1px lightgrey
}

.header-boxes div:nth-child(3){
    background-color: #23A6F0;
    color: white;
}

.header-boxes > div > img{
    padding: 10px 40px 10px 10px;
    width: 100px;
}

.header-boxes>div>h3 {
    padding: 10px 40px 10px 10px;
}

.header-boxes div p {
    padding: 10px 40px 10px 10px;
    color: gray;
}

#white-smoke{
    color: whitesmoke;
}

.below-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.below-header > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 60px 0px;
    text-align: center;
}

.below-header > div > img{
    width: 80px;
}

.below-header>div>h3 {
    margin: 15px 0px;
}

.industry-section{
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.industry-intro{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 70px;
}

.industry-intro > h2{
    margin: 20px 0px;
}

.industry-profiles{
    display: flex;
    margin-top:50px;
}

.industry-profiles > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 1px 1px lightgray;
     margin: 20px;
}

.industry-profiles div div {
    width: 100%;
    padding: 10px 0px;
    background-color: white;
    justify-content: center;
    
    
}

.industry-profiles div div img{
    width: 60%;
    padding: 5px 0px;
}

.industry-profiles div div:nth-child(2) {
    padding: 20px 0px;
    color: gray;
}

.industry-profiles div div:nth-child(3) {
    padding-bottom: 15px;
    color: yellow;
    font-size: 1.5em;
}

.sponser-section{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.sponser-imgs{
    margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.sponser-section > div > img{
    width: 80px;
    margin: 20px;
    padding: 5px;
}

.subscribe{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-image: linear-gradient(to right, blue, purple);
    align-items: center;
    height: 80px;
}

.subscribe > div > p > strong{
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}

form {
    display: flex;
}

form>input[type=text] {
    padding: 8px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid gray;
    background-color: #E1EBE6;

}

form>input[type=submit] {
    padding: 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #23A6F0;
    color: white;
}

.pricing{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}

.pricing-intro{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    margin-bottom: 40px;
}

.pricing-intro > h2{
    margin-bottom: 20px;
}

.pricing-options{
    display: flex;
    align-items: flex-end;
}

.pricing-options > div{
    border: 1px solid #23A6F0;
    border-radius: 5px;
    padding: 10px;
    height: 500px;
}

.pricing-options > div:nth-child(2){
    background-color: #252B42;
    height: 525px;
}

.pricing-options > div > article > h3{
    margin: 20px 0px;
}
.pricing-options>div>article > div:nth-child(2){
    margin: 20px 0px;
    color: gray;
    font-weight: bold;
}

.pricing-options>div>article>div:nth-child(3) {
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #23A6F0;
}

.pricing-options>div>article>div>strong{
    font-size: 1.8em;
}

.dollar{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 5px;
}

.pricing-options>div>ul {
    margin: 20px 0px;
    text-align: left;
    color: black;
}
.pricing-options>div>ul>div>li{
    font-weight: normal;
    font-size: 1em;
}
.pricing-options>div>button {
    border: none;
    border-radius: 5px;
    margin: 20px 0px;
    margin-bottom: 30px;
    background-color: #23A6F0;
    padding: 8px 70px;
    color: white;
}

footer{
    display: flex;
    background-color: yellow;
}