*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1;
}

header{
    flex: 1;
    background: url("./images/hero-cover.3.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 600px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 20px;
    padding: 20px 0px;
}

.logo{
    font-weight: bold;
    color: white;
}

nav > ul{
    display: flex;
}

li{
    list-style: none;
    padding: 5px 10px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: white;
}



nav > div{
    display: flex;
    align-items: center;
}

.btn-link{
    background-color: #23A6F0;
    border-radius: 3px;
    padding: 10px;
}

footer{
    display: flex;
    background-color: yellow;
}